
.second-section{
    top: 40% !important;
}
.carousel-caption h5 {
	color: white;
	font-size: 37px;
}
.carousel-caption p {
	color: white;
}
.third-section {
    color: #56595c;
    line-height: 22px;
    font-size: 16px;
}
.forth-section{
	background-color: #f8f9fa ;
}

.sisth-section{
    background-color: #f8f9fa;
}

footer{
    background-color: #1c2024;
    padding: 19px 0;
}

footer p {
    color: white;
    text-align: center;
    font-size: 24px;
}